* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #e0e0e0;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
div#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* Header */
nav {
  width: 100%;
  height: 50px;
  background-color: #11103e;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  z-index: 2;
}
nav div.nav-sidebar-menu {
  display: inline-block;
  height: 100%;
  width: 50px;
}
nav button.nav-sidebar-button {
  height: 100%;
  width: 50px;
  background-color: #11103e;
  border: none;
}
nav span.sidebar-icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
  margin: 10% auto;
}
.navbar {
  background-color: #11103e;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
}
div.user-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  float: right;
}
.user-circle i {
  line-height: 40px;
}
div.nav-user-name {
  display: inline-block;
  float: right;
  height: 50px;
  width: 200px;
  text-align: center;
}
div.nav-user-name:hover {
  cursor: pointer;
}
p.user-name {
  line-height: 50px;
  color: #fff;
  font-size: 1.5em;
}
div.statusbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
/*   z-index: -1; */
}
div.nav-breadcrumb {
  display: inline-block;
  height: 100%;
  width: auto;
}
div.nav-breadcrumb > p {
  padding: 0 0 0 25px;
  line-height: 50px;
}
/* div.nav-breadcrumb > p > a:hover {
  cursor: pointer;
} */
div.report-nav {
  display: inline-block;
  position: absolute;
  right: 25px;
}
ul.report-nav-ul {
  padding: 0;
}
li.report-nav-li {
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 50px;
}
li.report-nav-li > a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
}

/* Sidebar */
div.sidebar {
  height: 100%;
  width: 250px;
  background-color: #333;
  position: absolute;
  left: -250px;
  top: 0;
  -webkit-box-shadow: inset -2px -2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -2px -2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: inset -2px -2px 7px 0px rgba(0,0,0,0.75);
}
div.sidebar-user {
  height: 50px;
  width: 100%;
}
p.sidebar-user-name {
  display: inline-block;
  line-height: 50px;
  color: #fff;
  font-size: 1.5em;
  padding-left: 10px;
}
div.sidebar-nav {
  width: 100%;
}
div.sidebar-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}
div.sidebar-nav > ul > li.sb-nav-item {
  height: 50px;
  color: #fff;
  line-height: 50px;
  font-size: 1.5em;
}
i.sb-i {
  margin-right: 10px;
}
i.sb-caret {
  margin-right: 10px;
  float: right;
  line-height: 50px;
}

/* Report */
#report .report-tabs {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
}
#report .nav > li > a:hover {
  background-color: #45729a;
  border: 0;
}
#report .nav > li.active > a {
  border: 0;
}
#report .week-tabs {
  background-color: #2a3f54;
  width: 100%;
  position: relative;
}
#report .week-tabs > li {
  position: relative;
  left: 100px;
}
#report .week-tabs > li > a {
  color: #fff;
}
#report .nav-tabs {
  border-bottom: none;
}
#report .nav-tabs > li {
  text-align: center;
  width: 18%;
}
#report .nav-tabs > li > a{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#report .nav-tabs > li.active > a {
  background-color: #5a98cf;
}
#report .day-stack {
  background-color: #2a3f54;
  float: left;
  position: relative;
  top: 0;
  left: 0;
}
#report .day-stack > li > a {
  color: #fff;
}
#report .nav-pills > li {
  width: 100px;
  line-height: 71px;
  padding: 0;

}
#report .nav-pills > li:not(:nth-child(1)) {
  margin-top: 7.5px;
}
#report .nav-pills > li > a {
/*   background-color: #fff; */
  margin: 0;
  padding: 0 0 0 15px;
  height: 65px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#report .report-data {
  background-color: #fff;
  width: 100%;
  height: 500px;
}
#report .report-table {
  width: 100%;
  height: 100%;
  padding-left: 100px;
}
#report .report-table > .table-row {
  width: 100%;
  height: 65px;
  display: block;
  margin: 0;
}
#report .report-table > .table-row:not(:nth-child(1)) {
  margin-top: 7.5px;
}
#report .report-table .table-row:hover {
  background-color: #fefefe;
}
#report .table-row .table-data {
  display: block;
  float: left;
  width: 19.538%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.5);
  margin-right: 2px;
}
#report .report-card-outer {
  padding: 25px;
}
#report .report-card {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
}
#report .report-card .report-card-header {
  margin: 0;
}
#report .report-card-header .report-card-tools {
  height: 25px;
  position: relative;
  float: right;
  text-align: center;
}
#report .report-card-header .report-card-tools .small-glyph {
  font-size: 1em;
  margin: 0 5px;
}
.fa-question:hover {
  cursor: pointer;
}
.fa-wrench:hover {
  cursor: pointer;
}
.fa-times:hover {
  cursor: pointer;
}
#report .report-card-header h2 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
#report .report-card-header .report-hr {
  width: 100%;
  margin: 10px 0;
  border-width: 1px;
  border-color: #000;
}
#report .report-card .report-card-description {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.report-card .report-card-data {
  height: 315px;
  width: 100%;
}
.report-card .report-card-data-half {
  height: 157.5px;
  width: 100%;
}