* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f8f8f8;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

/* Header */
.navbar {
  background-color: #11103e;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.nav .user-circle {
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
}
.user-circle i {
  line-height: 40px;
}

/* Report */
#report {
}